@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-dark: #000;
    --color-white: #fff;
    --color-light: #ababab;
    --color-purple: #5d15a5;
}

* {
    color: var(--color-white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://soubh.uai.com.br/uploads/post/image/13270/main_EAFO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.clock {
    display: flex;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.75); /* Use rgba para mais controle */
    border-radius: 8px;
    padding: 10px; /* Adiciona um pouco de padding para o conteúdo não ficar colado na borda */
    flex-direction: row;
}

.clock p {
    font-size: 150px;
    display: flex;
    align-items: center;
    gap: 50px;
    text-shadow: 10px 1px 1px rgba(0, 0, 0, 0.8); /* Altere para rgba para mais controle */
}

.clock p:not(:last-child)::after {
    content: ':';
    color: var(--color-white);
    margin-left: 10px; /* Use margin-left para espaçamento após o conteúdo */
    font-size: 150px; /* Certifique-se de que o tamanho é consistente com o texto */
}

/* Estilo para dispositivos móveis */
@media (max-width: 500px) {
    .clock {
        flex-direction: column; /* Altere para coluna em telas pequenas */
        gap: 20px; /* Reduza o espaço entre os elementos */
        padding: 5px; /* Reduza o padding para se adequar melhor à tela pequena */
    }

    .clock p {
        font-size: 100px; /* Ajuste o tamanho da fonte para ser mais adequado em telas pequenas */
        gap: 20px; /* Ajuste o espaço entre os números */
    }

    .clock p:not(:last-child)::after {
        font-size: 100px; /* Certifique-se de que o tamanho do separador é consistente com o texto */
        margin-left: 5px; /* Ajuste o espaço após o separador */
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .clock p {
        font-size: 100px; /* Ajuste para telas médias, se necessário */
    }
}
